body{
    background-color: #181818;
    color: white;
    background-image: url('../images/hobby1_background.avif');
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-attachment: fixed;
}


.navbar{
    /* background-color: #313131; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
}


.nav-link{
    margin-top: 10px;
}

.navbar-toggler-icon{
    background-color: white;
    filter: invert(1);
}


a{
    color: white !important;
    text-decoration: underline;
    font-size: 1.2rem;
}

a:hover{
    /* transform: scale(1.03); */
    text-decoration: none;
    color: rgb(194, 194, 194) !important;
    cursor: pointer;
}

#index{
    width: 400px;
    margin-left: 30px;
}

#container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    animation: slide-up 1s;
}

@keyframes slide-up {
    0% {
        margin-top: 100%;
        /* width: 300%;  */
    }
    60%{
        margin-top: 0px;
    }

    100% {
        margin-top: 100px;
        /* width: 100%; */
    }
}

#container >div{
    margin: 10px;
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

#container > div > .text{
    padding: 20px;
}

#container > div:hover{ 
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.2);
    /* cursor: pointer; */
}

img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
}


#my-times-img{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    max-height: 800px;
}


@media (max-width:767.69px){
    body{
        display: inline;
    }

    #container>div{
        flex-direction: column;
    }
    #index{
        margin-left: 0;
    }

    #intro img:nth-child(2){
        order: 1;
        width: auto;
        height: auto;
    }

    #description img:nth-child(1){
        order: 1;
        width: auto;
        height: auto;
    }

    #me-cubing img:nth-child(2){
        order: 1;
        width: auto;
        height: auto;
    }

    #competitions img:nth-child(1){
        order: 1;
        width: auto;
        height: auto;
    }
}

@media (max-width: 980px){
    .nav-item{
        flex-direction: column;
    }
}


