body{
    background-color: #181818;
    color: white;
    background-image: url('https://i.redd.it/9sbl785jrii91.png');
    
}


.navbar{
    /* background-color: #313131; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
}


.nav-link{
    margin-top: 10px;
}

.navbar-toggler-icon{
    background-color: white;
    filter: invert(1);
}


a{
    color: white !important;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover{
    /* transform: scale(1.03); */
    color: rgb(194, 194, 194) !important;
    cursor: pointer; 
    text-decoration: underline;
}

#index{
    width: 400px;
    margin-left: 30px;
}




#container{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#bio{
    /* border: 1px white solid; */
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 600px;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
}

#left{
    margin-right: 20px;
}


img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#contact{
    /* border: 1px white solid; */
    margin: 20px;
    max-width: 600px;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
}

.logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#info{
    /* border: 1px solid white; */
    margin: 20px;
    width: calc(100% - 40px);
    margin-right: 0;
    padding: 20px;
    max-width: 991.664px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
}

#mail{
    margin: 20px;
    width: calc(100% - 40px);
    margin-right: 0;
    padding: 20px;
    max-width: 991.664px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#emailInput{
    word-wrap: break-word;
    height: 100px;
}

#sendButton{
    color: white;
    background-color: rgb(46, 98, 202);
    width: 100px;
    border-radius: 50px;
    border: none;
}


@media (max-width: 1034px){
    .nav-item{
        flex-direction: column;
    }
    #container div:nth-child(2){
        order: 4;
    }
    #container div:nth-child(3){
        order: 2;
    }
    #container div:nth-child(4){
        order: 3;
    }

    #bio{
        max-width: 100%;
    }

    .nav-item{
        flex-direction: column;
    }

}

@media (max-width: 767.98px){
    #index{
        margin-left: 0;
    }
}
