body{
    background-color: #181818;
    color: white;
    background-image: url('https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705449600&semt=ais');
}


.navbar{
    /* background-color: #313131; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
}


.nav-link{
    margin-top: 10px;
}

.navbar-toggler-icon{
    background-color: white;
    filter: invert(1);
}


a{
    color: white !important;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover{
    /* transform: scale(1.03); */
    color: rgb(194, 194, 194) !important;
    cursor: pointer;
    text-decoration: underline;
}

#index{
    width: 400px;
    margin-left: 30px;
}

#container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* max-width: 1500px; */
}

#container >div{
    margin: 10px;
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

#container > div > .text{
    padding: 20px;
}

#container > div:hover{ 
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

img{
    border-radius: 10px;
    width: 300px;
    height: 200px;
}


.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    align-self: center;
}

.project-img{
    width: 800px;
    height: 500px;
}


@media (max-width:767.69px){
    #container>div{
        flex-direction: column;
    }
    #index{
        margin-left: 0;
    }

    #coding img:nth-child(2){
        order: 1;
        width: auto;
        height: auto;
    }

    #got-into img:nth-child(1){
        order: 1;
        width: auto;
        height: auto;
    }

    #background img:nth-child(2){
        order: 1;
        width: auto;
        height: auto;
    }

    #experience img:nth-child(1){
        order: 1;
        width: auto;
        height: auto;
    }
}

@media (max-width: 980px){
    .nav-item{
        flex-direction: column;
    }
}


