body{
    background-color: #181818;
    color: white;
}


.navbar{
    background-color: #313131;
}


.nav-link{
    margin-top: 10px;
}

.navbar-toggler-icon{
    background-color: white;
    filter: invert(1);
}


a{
    color: white !important;
    text-decoration: none;
}

a:hover{
    transform: scale(1.03);
    color: rgb(102, 211, 110) !important;
    cursor: pointer;
    
}

#index{
    width: 300px;
    margin-left: 30px;
}

#container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

#container >div{
    margin: 20px;
    border: white 1px solid;
    display: flex;
    padding: 10px;
    gap: 20px;
}


@media (max-width:767.69px){
    #container>div{
        flex-direction: column;
    }
    #index{
        margin-left: 0;
    }

    #intro img:nth-child(2){
        order: 1;
    }

    #description img:nth-child(1){
        order: 1;
    }

    #me-cubing img:nth-child(2){
        order: 1;
    }

    #competitions img:nth-child(1){
        order: 1;
    }
}

@media (max-width: 980px){
    .nav-item{
        flex-direction: column;
    }
}


